@keyframes animatedSquare {
    0% {
        background-color: pink;
    }
    20% {
        background-color: purple;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: aqua;
    }
}

div {
    width: 1350px;
    height: 100px;
    background-color: mediumslateblue;
    animation-name: animatedSquare;
    animation-duration: 4s;
}

.container h3 {
    display: flex;
}