/* Unvisited link*/

a:link {
    color: blue;
}


/* Visited link*/

a:visited {
    color: pink;
}


/* Mouse over link*/

a:hover {
    color: black;
}


/* Selected link*/

a:active {
    color: brown;
}